<div class="mt-5" *ngIf="!isLoaded">
    <h5 class="text-center">Dunque...</h5>
</div>
<ng-container *ngIf="isValid && isLoaded && gifts">
    <div class="mt-5" *ngIf="!showPresent">
        <h5 class="text-center">Sei proprio tu!</h5>
        <div class="w-100">
            <img class="w-50 rounded mx-auto d-block" src="/assets/present.gif" />
        </div>
    </div>
    <ng-container *ngIf="showPresent">
        <div class="row mt-5" *ngFor="let gift of gifts">
            <div class="col-md-6 col-sm-12">
                <h5><a href="{{gift.contentUrl}}" target="_blank" role="button">{{gift.title}}</a></h5>
            </div>
            <div class="col-md-6 col-sm-12">
                <a href="{{gift.contentUrl}}" target="_blank" role="button">
                    <img src="{{gift.pictureUrl}}" class="responsive small-img img-thumbnail" alt="{{gift.title}}" />
                </a>
            </div>
        </div>
    </ng-container>
</ng-container>
<div class="mt-5" *ngIf="!isValid && isLoaded">
    <h5>{{errorMessage}}</h5>
    <a href="/">Clicca qui per tornare indietro</a>
</div>