
<ng-container *ngIf="success">
    <div class="row mt-5" *ngFor="let gift of gifts">
        <div class="col-md-6 col-sm-12">
            <h5><a href="{{gift.contentUrl}}" target="_blank" role="button">{{gift.title}}</a></h5>
        </div>
        <div class="col-md-6 col-sm-12">
            <a href="{{gift.contentUrl}}" target="_blank" role="button">
                <img src="{{gift.pictureUrl}}" class="responsive small-img img-thumbnail" alt="{{gift.title}}" />
            </a>
        </div>
    </div>
</ng-container>