<p>questions</p>
<ul>
    <li *ngFor="let question of questions">
        <ul>
            <li>{{question.question}}</li>
            <li>{{assetsUrl}}/{{question.imageUrl}}</li>
            <label *ngFor="let option of question.options">
                <input type="radio" 
                    name="options_{{question.id}}"
                    value="{{option.id}}"
                    (click)="onChange($event, question.id, option.id)" disabled={{disabled}} />{{option.title}}
            </label>
        </ul>
    </li>
</ul>
<p></p>
