<ngb-carousel #carousel *ngIf="questions">
  <ng-template ngbSlide *ngFor="let question of questions; let i = index">
    <div class="row">
      <div class="col-12 mb-2 mt-5">
        <h5>{{question.question}}</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 mb-2">
        <img src="{{assetsUrl}}/{{targetFolder}}/{{question.imageUrl}}" class="responsive shadow-sm mb-1 p-2 bg-white rounded" alt="{{question.qustion}}" />
      </div>
      <div class="col-md-6 col-sm-12">
          <button *ngFor="let option of question.options"
            type="button"
            class="btn btn-outline-primary btn-lg btn-block"
            (click)="onChange($event, question.id, option.id)">{{option.title}}</button>
          <div
          [ngClass]="{'alert-danger': !question.givenAnswer.isCorrect, 'alert-success': question.givenAnswer.isCorrect }"
            class="alert mt-2" *ngIf="question.givenAnswer" role="alert">
            {{question.responseMessage}}
          </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
